/* 我的表單樣式 */
table.contact_form {
    vertical-align: top;
    margin: 0 auto;
    width: 100%;
}

table.contact_form>tr,
td {
    padding: 0 0 2% 2%;
    height: 50px;
    
}

.form-select :hover {
    background-color: gray;
}

.form-select:active {
    outline: none;
}

.form_input {
    min-height: 1.8rem;
    padding-left: 1%;
    padding-right: 10%;
    font-size: .8rem;
    outline: none;
    border: none;
    min-width: 50%;
}

.form_input:active,
.form_input:active:focus {
    outline: none;
}

td:nth-child(1) {
    text-align: right;

}

td:nth-child(3) {
    text-align: right;

}

.contact_box {
    width: 75%;
    margin: 0 auto;
    margin:0 auto 40px;

}

.contact_box2 {
    display: none;
}

.form_button:active {
    outline: none;
    cursor: pointer;

}



.contact_form ::-webkit-input-placeholder {
    color: #888;
    letter-spacing: 1px;
}

/*Firefox 4-18瀏覽器專用*/
.contact_form input::-moz-placeholder {
    color: #888;
    letter-spacing: 1px;
}

/*Firefox 19+瀏覽器專用*/
.contact_form input::-moz-placeholder {
    color: #888;
    letter-spacing: 1px;
}

/*IE10瀏覽器專用*/
.contact_form:-ms-input-placeholder {
    color: #888;
    letter-spacing: 1px;
}







.form_textarea {
    outline: none;
    overflow: hidden;
    resize: none;
    border: none;
    width: 100%;
}



.form_radio {
    display: inline-block;
    position: relative;

}

.form_radio label {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #ef4949;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.form_radio input:checked+label:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: #ef4949;
    border-radius: 50%;
}



.form_button {

    overflow: auto;
    width: 50%;
    height: 40px;
    cursor: pointer;
    font-family: "微軟正黑體", "Helvetica", "Arial", "LiHei Pro", sans-serif;
    font-size: 18px;
    position: relative;
    border: 1px solid #d8af5e;
    vertical-align: top;
    background-color: #e8be6a;
    transition: all .5s;
    color: #fff;
    outline: none;

}


.form_button:active {
    outline: none;
}




.form_button:hover {
    background-color: #daaf59;
    outline: none;
}

.store {

    width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}


td:nth-child(1) {
    min-width: 100px;

}

td:nth-child(3) {
    min-width: 42px;

}


@media(max-width:768px) {
    .contact_box2 {
        display: block;
    }

    .contact_box {
        display: none;

    }

    table {
        max-width: 100%;

    }

    .form_input {
        min-height: 1.6rem;
        padding-left: 1%;
        padding-right: 0;
        font-size: .8rem;
        outline: none;
        border: none;
    }

    tr td {
        /* border: 1px solid red; */
        vertical-align: middle;
        height: 50px;
    }

    td:nth-child(1) {
        min-width: 78px;

    }

    .w100 {
        min-width: 100%;
        min-height: 40px;
    }
    table.contact_form>tr,
td {
    padding: 2% 0% 2% 2%;
  
    
}


}