<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel=icon href=favicon.ico>
  <link rel="stylesheet" href="./css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Noto+Sans+TC:400,500&display=swap"
    rel="stylesheet" />
  <title>職人口袋 | 購物車</title>
</head>

<body>
  <div id="app">
    <div id="threeJs"></div>
    <header>
      <div class="header">
        <div class="logo">
          <a href="./home.html">
            <img src="./img/logo.svg" alt="logo" />
          </a>
        </div>
        <div class="nav_hamburger">
          <div class="navBtn">
            <div class="navBtn_btn">
              <p>MENU</p>
              <div>
                <span />
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav_bar">
        <div class="logo">
          <a href="./home.html">
            <img src="./img/logo.svg" alt="logo" />
          </a>
        </div>
        <ul class="nav_list">
          <li data-name="program">
            <a href="./program.html">
              <div>
                <img src="./img/staff-poket.svg" alt="pm" />
              </div>
              <p>專案管理<br /><span>Project management</span></p>
            </a>
          </li>
          <li data-name="tomato">
            <a href="./tomato.html">
              <div>
                <img src="./img/time-left.d4d509fa.svg" alt="clock" />
              </div>
              <p>番茄鐘<br /><span>Clock</span></p>
            </a>
          </li>
          <li data-name="mall">
            <a href="./mall.html">
              <div>
                <img src="./img/shopping-bag.c63fa553.svg" alt="shop" />
              </div>
              <p>商城<br /><span>Shop</span></p>
            </a>
          </li>
        </ul>
        <div class="user_status">
          <div class="user_shot">
            <div>
              <img src="./img/user.9c173fc0.svg" alt="member" id="user_shot"/>
            </div>
            <p id="mem_id">尚未登入</p>
          </div>
          <div class="status">
            <div id="login">
              <div>
                <a href="./member.html">會員中心</a>
              </div>
              <div id="mem_logout">登出</div>
            </div>
            <div id="logout">
              <a href="./member_login.html">登入</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="content">
        <!-- 內容 -->
        <!-- 卡片(有header) -->
        <!-- @include card($width: auto, $height: auto, $header: true, $color: $primary) -->

        <!-- 
          .card_box {
            @include card(500px, 500px, true, $primary);
          } 
          -->
        <!-- <div class="card_box">
            <div class="card_header">123</div>
            <div class="card_content">456</div>
          </div> -->
        <!-- 卡片(沒header) -->
        <!-- 
          .card_box {
            @include card(500px, 500px, false);
          } 
          -->
        <!-- <div class="card_box">
            <div class="card_content">456</div>
          </div> -->
        <div class="cart_page">
          <div class="cart_title">
            <!-- <h1>Cart</h1> -->
            <h1>購物車 Cart</h1>
          </div>
          <div class="cart_list">

            <!-- 動態新增的內容 -->
          </div>
          <div class="cart_total">
            <div class="cart_summary">
              <!-- <h2>Cart Summary</h2> -->
              <h2>訂單明細 </h2>
              <!-- <p>Total</p> -->
              <p>總額</p>
              <span>$</span><span class="cart_price_total">0</span>
            </div>
            <div id="cart">
              <div class="cart_account">
                <div class="creidcard_rotate">
                  <div class="cart_credit_card">
                    <div class="chip">
                      <div class="chip-line"></div>
                      <div class="chip-line"></div>
                      <div class="chip-line"></div>
                      <div class="chip-line"></div>
                      <div class="chip-main"></div>
                    </div>
                    <div class="cart_card_number">
                      <p>{{cardNum1}} {{cardNum2}} {{cardNum3}} {{cardNum4}}</p>
                    </div>
                    <div class="creidcard_text1">
                      <p class="cart_creidcard_inside">Card Holder</p>
                      <p class="cart_creidcard_inside_text">{{cardHolder}}<span></span></p>
                    </div>
                    <div class="creidcard_text2">
                      <p class="cart_creidcard_inside">VALID DATE</p>
                      <p class="cart_creidcard_inside_text"><span>{{cartMonth}} {{cartYear}}</span></p>
                    </div>
                  </div>
                  <!-- <div class="cart_credit_card_back">
                    1111111111
                  </div> -->
                </div>
                <form>
                  <div class="cart_credit_card_mes">
                    <p class="cart_card_text">信用卡號碼</p>
                    <div class="cart_numbox1">
                      <input type="text" class="cart_inputnum1" maxlength="4" v-model="cardNum1">
                      <input type="text" class="cart_inputnum1" maxlength="4" v-model="cardNum2">
                      <input type="text" class="cart_inputnum1" maxlength="4" v-model="cardNum3">
                      <input type="text" class="cart_inputnum1" maxlength="4" v-model="cardNum4">
                    </div>
                    <p class="cart_card_text">持卡人姓名</p>
                    <div class="cart_numbox1">
                      <input type="text" class="cart_inputnum2" placeholder="Card Holder's Name" v-model="cardHolder"
                        max="18">
                    </div>
                    <div class="cart_numbox2">
                      <div class="cart_select_box">
                        <p class="cart_card_text">卡片到期日</p>
                        <input type="text" name="" id="cart_expiration_date1" placeholder="Month" v-model="cartMonth"
                          maxlength="2">
                        <input type="text" name="" id="cart_expiration_date2" placeholder="Year" v-model="cartYear"
                          maxlength="2">
                        <!-- <select name="" id="">
                          <option value=""></option>
                          <option value="">01</option>
                          <option value="">01</option>
                          <option value="">02</option>
                          <option value="">03</option>
                          <option value="">04</option>
                          <option value="">05</option>
                          <option value="">06</option>
                          <option value="">07</option>
                          <option value="">08</option>
                          <option value="">09</option>
                          <option value="">10</option>
                          <option value="">11</option>
                          <option value="">12</option>
                        </select>
                        <select name="" id="">
                          <option value=""></option>
                          <option value="">2020</option>
                          <option value="">2021</option>
                          <option value="">2022</option>
                          <option value="">2023</option>
                          <option value="">2024</option>
                          <option value="">2025</option>
                          <option value="">2026</option>
                          <option value="">2027</option>
                        </select> -->
                      </div>
                      <div class="cart_numbox3">
                        <p class="cart_card_text">CCV</p>
                        <input type="text" class="cart_inputnum2" maxlength="3" id="creditcardCCV">
                        </p>
                      </div>
                    </div>
                    <div class="cart_recipient">
                      <div class="cart_recipient_info">
                        <div class="cart_recipient_info_text">
                          <p>收件人姓名</p>
                          <input type="text" class="cart_inputnum3" id="receiver_name" placeholder="Name">
                        </div>
                        <div class="cart_recipient_info_text">
                          <p>收件人電話</p>
                          <input type="text" class="cart_inputnum3" id="receiver_tel" placeholder="Phone Number">
                        </div>
                      </div>
                      <div class="cart_recipient_info_add">
                        <p>收件地址</p>
                        <input type="text" class="cart_inputnum2" id="ship_addr" placeholder="Address">
                      </div>
                    </div>
                    <!-- 從訂定單過來要送到資料庫的資料 -->
                    <div style="display:none;">
                      <input type="text" name="" id="">
                    </div>
                    <div class="cart_submit">
                      送出訂單
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script>
    let vm = new Vue({
      el: '.cart_page',
      data: {
        cartProduct: 1,
        cardNum1: '',
        cardNum2: '',
        cardNum3: '',
        cardNum4: '',
        cartMonth: '',
        cartYear: '',
        cardHolder: '',

      },
      methods: {
        setCardNum1(e) {
          this.cardNum1 = e.target.value;
        },
        setCardNum2(e) {
          this.cardNum2 = e.target.value;
        },
        setCardNum3(e) {
          this.cardNum3 = e.target.value;
        },
        setCardNum4(e) {
          this.cardNum4 = e.target.value;
        },
        cartMonth(e) {
          this.cartMonth = e.target.value;
        },
        cartYear(e) {
          this.cartYear = e.target.value;
        },
        cardHolder(e) {
          this.cardHolder = e.target.value;
        },
      }
    });
  </script>
  <script src="./js/cart.js"></script>
  <script src="./js/ordersend.js"></script>
  <script src="./js/lib/three.min.js"></script>
  <script type="x-shader/x-fragment" id="fragmentshader">
    uniform vec3 color;
        uniform sampler2D texture;
        varying float opacity;
        varying vec3 vColor;
        void main() {
            gl_FragColor = vec4(vColor * color, 1);
            gl_FragColor = gl_FragColor * texture2D( texture, gl_PointCoord );
        }
    </script>

    <script src="./js/lib/particle.js"></script>
    <script src="./js/background.js"></script>
    <script src="./js/layout.js"></script>
</body>

</html>