//網站顏色
$primary: #81c7d4;
$secondary: #98b5ee;
$third: #f8c3cd;
$fourth: #f9bf45;
$danger: #eb7a77;
$success: #86c166;
$white: #ffffff;
$dark: #777777;
$gray: #999999;
$shadow: rgba(#000000, 0.1);
$abyss: #000000;
$price: #3f3f3f;
$red: #ff0000;
$programcolor1: #B6BE9C;
$programcolor2: #48A9A6;
$programcolor3: #437C90;
$programcolor4: #6CA6C1;
$programcolor5: #3581B8;
$programcolor6: #C38D94;
$programcolor7: #C1666B;
$programcolor8: #A09CB0;
$programcolor9: #9E768F;
$programcolor10: #B2967D;
$programcolor11: #7C6C77;
$radioSize: 22px;
$radioBorder: #d1d7e3;
$radioActive: #4e8eec;
$heavyshadow: rgba(
  $color: #000000,
  $alpha: 0.2
);
$fontColorBlack: #333;

//側面欄寬
$slideBar: 350px;

//card
$borderRadius: 20px;
$headerHeight: 50px;

//字級，行距，字間距
$baseFont: 14px;
$baseLine: 10px;
$lineLevel: 1.2;
$fontLevel: 2px;
$fontweight:600;

// 卡片圓角
$radius:20px;


